.help {
 font-size: 30px; 
 text-align: center;
 
}

li {
    margin-top: 50px;
}

.title {
    font-weight: bold;
    background-color: yellow;
    width: 160px;
    margin: 0 auto;
}

#ins {
    margin-bottom: 20px;
}