h1{
    background-image: url("https://goo.gl/8tdHEV");
    background-repeat: no-repeat;
    background-size:100%;
    color:black;
    text-align:center;
    box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                4px 4px #53a7ea;
        -webkit-transform: translateX(-3px);
    }
    
h2  {
    Font-size:50px;
    text-align:center;
    }
body {
    background-color:gainsboro;
    background-repeat: no-repeat;
    background-size:100%;
    }
#lost {
    color:white;
}
#earth {
    float:left;
}
#shop {   
    border:5px solid #53a7ea;
}    
#shopList {
    margin:20px;    
}
#more-stuff {
    display:flex;
    justify-content: space-around;
    font-size: 40px;
}
#bought {
    width:810px;
    border:5px solid #53a7ea;
    border-radius:50px;
}
#more-stuff {
    display:flex;
    justify-content: space-around;
    font-size: 40px;
}

#container {
    display:flex;
    justify-content:center;
}
.pollution-energy{
    border:5px solid brown;
    height:20px;
}
.factories{
    
    height:100px;
    width:100px;
}
.stuff{
    border:5px solid red;
    height:100px;
}
/* Coal */
.resources{
    width: 100px;
    height:100px;
    border: 2px solid black;
    padding: 5px;
}

.text{
font-size: 20px;
margin: 0px 0px 9px;
}

.description {
    font-size: 20px;
    float: left;
    margin-left: 50px;
    border: 2px solid black;
    padding: 0px 150px 0px 0px;
    margin-top: 33px;
}


/*
.resource-img {
    float:left;
}
*/
/*
.c-desc {
    float: left;
}
*/
.buy {
    float: left;
    margin-left: 50px;
    margin-top: 70px;
}
.project {
    display: flex;
    margin:10px;
}

/* Solar */
/*
.sresources{
    width: 100px;
    height:100px;
    border: 2px solid black;
    padding: 5px;
}

#solar-text{
font-size: 20px;
margin: 0px 0px 9px;
}

#solar-description {
    font-size: 20px;
    float: left;
    margin-left: 50px;
    border: 2px solid black;
    padding: 0px 150px 0px 0px;
    margin-top: 33px;
  
}

#solar-img {
    float:left;
}


.s-desc {
    
}
.buy {
    float: left;
    margin-left: 50px;
    margin-top: 70px;
}
*/

